colorlog==4.1.0
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
file-read-backwards==2.0.0
grimoirelab-toolkit @ git+https://github.com/chaoss/grimoirelab-toolkit@master
sortinghat @ git+https://github.com/chaoss/grimoirelab-sortinghat@master
kidash @ git+https://github.com/chaoss/grimoirelab-kidash@master
grimoireelk @ git+https://github.com/chaoss/grimoirelab-elk@master
graal @ git+https://github.com/chaoss/grimoirelab-graal@master
perceval @ git+https://github.com/chaoss/grimoirelab-perceval@master
perceval-puppet @ git+https://github.com/chaoss/grimoirelab-perceval-puppet@master
perceval-opnfv @ git+https://github.com/chaoss/grimoirelab-perceval-opnfv@master
perceval-mozilla @ git+https://github.com/chaoss/grimoirelab-perceval-mozilla@master
perceval-finos @ git+https://github.com/Bitergia/grimoirelab-perceval-finos@master
perceval-weblate @ git+https://github.com/chaoss/grimoirelab-perceval-weblate@master
grimoirelab-panels @ git+https://github.com/chaoss/grimoirelab-sigils@master
